@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
body,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito;
}
section {
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #e2e8f0;
  z-index: 9999;
}
.innerNav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.logo {
  width: min(70px, 20vw);
  height: min(70px, 20vw);
}
@media (max-width: 170px) {
  .logo {
    display: none;
  }
}
.links {
  display: none;
}
.bars::before {
  content: " ";
  background-color: black;
  display: block;
  position: absolute;
  top: -0.5em;
  width: min(25px, 10vw);
  height: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.bars {
  position: relative;
  display: flex;
  width: min(15px, 6vw);
  margin-inline: 22.5px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
.bars::after {
  content: " ";
  background-color: black;
  display: block;
  position: absolute;
  top: 0.5em;
  width: min(20px, 8vw);
  height: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.darkMode {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background-color: #05121b;
  transition: background-color 0.2s;
  cursor: pointer;
}
.toggleThing {
  position: absolute;
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  top: 2px;
  bottom: 2px;
  left: 2px;
  background-color: white;
  border-radius: 100%;
}

.darkMode.light {
  background-color: #c45260;
}

@keyframes changeToggle {
  0% {
    width: 20px;
    transform: translateX(0%);
  }
  50% {
    width: 1.7em;
    border-radius: 100%;
    transform: translateX(0%);
  }
  100% {
    width: 20px;
    transform: translateX(calc(100% + 6px));
  }
}
@keyframes changeToggleRight {
  0% {
    width: 20px;
    transform: translateX(100%);
  }
  50% {
    width: 25px;
    transform: translateX(100%);
  }
  100% {
    width: 20px;
    transform: translateX(0%);
  }
}
.animateToggleRight {
  animation-name: changeToggleRight;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  transform: translateX(-calc(100% + 6px));
}
.animateToggle {
  animation-name: changeToggle;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  transform: translateX(calc(100% + 6px));
}
.iconInToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  padding-block: 8em;
  gap: 2em;
  background-color: rgb(12, 24, 33);
  color: white;
}

.navbarList {
  padding: 0;
  text-align: center;
  display: block;
  margin-inline: auto;
  background-color: red;
}

.clicked {
  color: #c45260 !important;
}
.lis {
  font-size: 1em;
  list-style: none;
  text-decoration: none !important;
  color: #ffffff;

  font-weight: 700 bold;
}
.mobileNav > ul > img {
  height: 9em;
  width: 7em;
  margin: 4em;
  opacity: 0.5;
}
.exitIcon {
  align-self: flex-end;
  position: absolute;
  align-self: flex-end;
  margin-right: 3em;
  top: 1.7em;
  right: 1.7em;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
.navFooterImage {
  display: block;
  height: 9em;
  margin: auto;
  margin-top: 4em;
  opacity: 0.5;
}

@media (min-width: 900px) {
  .mobileNav {
    display: none;
  }
  .bars {
    display: none;
  }

  .lis {
    display: flex;
    color: black;
    font-weight: 500;
    justify-content: space-around;
    margin-inline: 1em;
    text-align: center;
    break-inside: auto;
  }
  .logo {
    width: min(70px, 4vw);
  }
  .links {
    /*თუ მინდა ზუსტად გიოსას დავამსგავსო padding-left: 80px padding-block: 32px თუარადა ესე უფრო ლამაზია*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: auto;
    padding-inline: 0.5em;
    line-height: auto;
  }
  .innerNav {
    justify-content: space-around;
  }
}
@media (min-width: 500px) {
  .bars {
    display: none;
  }
}

/*
 ================================
 ===========Home section=========
 ================================
 */
.homeSection {
  margin-top: min(12em, 30vw);
  font-family: nunito;
}
.homeHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
}
.title {
  margin: 0;
  height: auto;
  width: 42%;
  font-size: 2.5em;
  word-break: break-word;
  font-weight: 900;
}
.title > span {
  color: #c45260;
}
.firstSoldire {
  position: absolute;
  right: 1em;
  top: 11em;
  height: 30vh;
}
.homeParagraph {
  width: 90%;
  font-size: 1em;
  font-weight: 400;
}
.secondHome {
  margin-top: 10em;
  position: relative;
}
.secondSolider {
  position: absolute;
  left: 1em;
  top: -10vh;

  height: 20vh;
}
.discoverButton {
  display: flex;
  justify-content: center;
}
.discoverButton > button {
  border: 2px solid rgb(10, 30, 63);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-inline: 2em;
  height: 4.4em;
  background-color: #ffffff;
  color: rgb(10, 30, 63);
  font-weight: 900;
}
.discoverButton > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 31, 64);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 3.5em;
  padding: 0.3em;
}
.discoverButton > div > * {
  width: 20px;
  height: 20px;
  color: white;
}
.downloadGrid {
  margin-top: 1em;
  display: grid;
  width: min(100vw, 30em);
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  top: 25vw;

  margin-inline: auto;
}
.appleStore {
  justify-self: end;
}

.appleStore > * {
  height: min(12vw, 4em);
}
.appStore {
  justify-self: start;
}
.appStore > * {
  height: min(12vw, 4em);
}
.homeTwoAbsolute {
  position: absolute;
}
@media (max-width: 250px) {
  .homeTwoAbsolute {
    position: absolute;
    top: -30vh;
  }
}
@media (min-width: 480px) {
  body {
    position: relative;
  }

  .homeParagraph {
    width: 60%;
    line-height: 1.5em;
    font-size: 1.25rem;
    margin: 0;
  }

  .homeHeader > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .title {
    line-height: 1.5em;
    width: 60%;
    font-size: 4em;
  }
  .homeHeader {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .secondHome {
    position: static;
    margin-top: 3em;
  }
  .discoverButton {
    padding-top: 3em;
  }
  .firstSoldire {
    height: 60vh;
    margin-top: -2.3em;
  }
  .secondSolider {
    position: absolute;
    top: 7.3em;
    right: 1em;
    height: 60vh;
  }
  .downloadGrid {
    margin-top: 5em;
  }
  .appleStore {
    justify-self: center;
  }

  .appStore {
    justify-self: center;
  }
}
/*
 ================================
 ==========About section=========
 ================================
 */
.AboutSection {
  margin-top: 108px;
  overflow-x: hidden;
  padding: 1em;
}
.aboutUsHeader {
  display: flex;
  margin: auto;
  margin-bottom: 1em;
}
.aboutHeader {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.7em;
  margin-bottom: 1.5em;
}
@keyframes BounceImages {
  0% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(-1em);
  }
}
@keyframes BounceImageS {
  0% {
    transform: translateY(-0.8em);
  }
  30% {
    transform: translateY(0.8em);
  }
  50% {
    transform: translateY(0.5em);
  }
  100% {
    transform: translateY(-0.8em);
  }
}
.gridImage {
  animation-name: BounceImages;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  width: 100%;
  filter: drop-shadow(10px 10px 100px rgba(1, 108, 162, 0.5));
}
.image2 {
  animation-name: BounceImageS;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  filter: drop-shadow(10px 10px 100px rgba(234, 217, 128, 0.2));
}
.gridContainer {
  margin-inline: 1em;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 500px) {
  .gridContainer {
    text-align: left;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: min(80em, 90%);
    margin: auto;
  }
  .image2 {
    grid-column: 1;
    grid-row: 1;
  }
  .aboutParagraph2 {
    grid-column: 2;
    grid-row: 1;
  }

  .gridparagraphs {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
  }
  .aboutHeader {
    margin: auto;
    width: 100%;
  }
  .aboutParagraph {
    width: min(28em, 100%);
    font-weight: 600;
    justify-self: center;
  }
}
.AMTTokens {
  margin-bottom: 10em;
}
.borderDiv {
  background-image: linear-gradient(to bottom right, rgb(196, 82, 96), white);
  width: 90%;
  padding: 0.05em;
  border-radius: 10px;
  margin: auto;
  margin-top: 13em;
}
.innedBorderDiv {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 99.9%;
  margin-top: 0.05em;
  border-radius: 0.5em;
}
.innedBorderDiv > :nth-child(1) {
  margin-top: 4em;
}
.flex {
  display: flex;
  align-items: center;
  width: 83%;
  margin: auto;
  margin: 1em;
}
.flex > div > img {
  width: 15vw;
  padding: 1em;
  /* background-color: rebeccapurple; */
}
.flex > p {
  padding-left: 0.5em;
  font-weight: 600;
}
.AMTHeader {
  position: absolute;
  background-color: white;
  z-index: 100;
  width: fit-content;
  font-size: 1.5em;
  padding-inline: 1em;
  margin-top: -0.7em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 0em;
}
@media (min-width: 500px) {
  .borderDiv {
    background-image: linear-gradient(to right, rgb(196, 82, 96), white);
    /* width: 80%; */
    width: min(80em, 100%);
  }
  .innedBorderDiv {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.02em;
    margin-top: 0.02em;
  }
  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1em;
  }
  .flex > div > img {
    /* height: 2.5vw; */
    height: 4vw;
    width: fit-content;
    padding: 1em;
  }
  .innedBorderDiv > :nth-child(1) {
    margin-block: 1.5em;
  }
  .AMTHeader {
    margin-left: 2em;
  }
}
.paperArenaCards {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 70%;
  margin-block: 2em;
}
.paperArenaCards > * {
  filter: drop-shadow(0px 0px 200px rgba(1, 107, 160, 0.5));
  margin-block: 2em;
}
@keyframes hover {
  0% {
    filter: drop-shadow(0px 0px 0px #c45260);
  }
  50% {
    filter: drop-shadow(0px 0px 10px #c45260);
  }
  100% {
    filter: drop-shadow(0px 0px 20px #c45260);
  }
}
@media (min-width: 500px) {
  .paperArenaCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80em;
    margin: auto;
    justify-items: center;
    gap: 2.5em;
    margin-top: 5em;
    /* //rgba(1, 107, 160, 0.5) */
  }
  .paperArenaCards > * {
    max-width: 100%;
  }
  .paperArenaCards > *:hover {
    animation-name: hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
    filter: drop-shadow(0px 0px 20px #c45260);
    cursor: pointer;
  }
}
.video {
  display: block;
  width: min(80em, 90%);
  height: 400px;
  margin: auto;
}
.videoBorder {
  background: linear-gradient(to right bottom, #c45260, white);
  /* padding: 0.5em; */
  padding: 0.5%;
  border-radius: 10px;
  margin: auto;
}
.videoBorder > * {
  width: 100%;
  height: 244px;
}
@media (min-width: 500px) {
  .videoBorder {
    background: linear-gradient(to right bottom, #c45260, white);
    padding-inline: 0.5%;
    padding-bottom: -5em;
    border-radius: 10px;
    max-width: 65%;
    margin: auto;
  }
  .videoBorder > * {
    width: 100%;
    height: 25.5em;
    /* border-radius: 5px; */
  }
}
/*
 ================================
 =====designConcept section======
 ================================
 */
.designConcept {
  display: flex;
  justify-content: center;
  margin: auto;
  /* margin-top: -3em; */
}
.slider {
  position: relative;
  width: 100%;

  margin: auto;
  margin-block: 2em;
}

.slideImage {
  position: relative;
  width: 90%;
  margin: auto;
  background-color: white;
}
.carouselImages {
  display: block;
  width: 100%;
  height: auto;
}
/* 
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  width: 50px;
  height: 50px;
  z-index: 50;
  background-position: center;
  background-repeat: no-repeat;
}
.slick-arrow.slick-prev {
  display: block;
  left: 0.5em;
  background-image: url("https://arenavs.com/prev.svg");
}
.slick-arrow.slick-next {
  display: block;
  right: 0.5em;
  background-image: url("https://arenavs.com/next.svg");
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-arrow.slick-prev:hover {
  background-image: url("https://arenavs.com/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.slick-arrow.slick-next:hover {
  background-image: url("https://arenavs.com/next.svg");
  background-repeat: no-repeat;
  background-position: center;
} */
.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.prevArrow {
  background-image: url("https://arenavs.com/prev.svg");
}
.nextArrow {
  right: 0;
  background-image: url("https://arenavs.com/next.svg");
}
.textAndDownlaod {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: 800;
  bottom: 1em;
  width: 90vw;
}
.textAndDownlaod > p {
  margin: 0.2em;
}
.downloadAPP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1em;
}
.downloadAPP > * {
  height: 2em;
}
@media (min-width: 500px) {
  .designConcept {
    margin-top: 10em;
  }
  .slider {
    position: relative;
    width: min(80em, 100%);
  }
  .slideImage {
    width: 100%;
  }
  .carouselImages {
    margin: auto;
    padding: "10px";
  }
  .textAndDownlaod {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    bottom: 50%;
    transform: translateY(40%);
    width: 80vw;
    padding-inline-start: 2em;
    font-weight: 700;
    /* background-color: red; */
  }
  .textAndDownlaod > p {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    margin-block: 1em;
  }
  .downloadAPP {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1em;
    max-width: 100%;
  }
  .downloadAPP > * {
    height: min(5em, 10vw);
    /* padding-block: 3em; */
  }
}

/*
====================
==roadMapSection====
====================
*/
.Roadmap {
  overflow-x: hidden;
}
.roadMapHeader {
  display: block;
  max-width: fit-content;
  margin: auto;
  margin-block: 2em;
}

.components {
  background: linear-gradient(45deg, rgb(5, 18, 27) 0%, rgb(5, 19, 28) 100%);
  border-radius: 10px;
  margin-right: 1em;
}
.vertical-timeline-element-content {
  box-shadow: none !important;
  padding: 0em !important;
  padding-bottom: 0em !important;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 700;
  color: white;
  box-shadow: none !important;
  border: none;
}
.seconHalfIcon {
  border: 5px solid black !important;
}
.checkLis {
  display: flex;
  align-items: center;
  color: white;
  /* margin: 0em 0em 0em 1em; */
}
.wholeLis {
  padding-top: 2em;
  padding-left: 1em;
}
h3 {
  margin: 0.8em;
}
.checkLis > img {
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}
.animalImages {
  max-width: 100%;
}

.elem {
  position: relative;
}
@media (min-width: 1170px) {
  .icon {
    font-size: 2em;
  }
  .animalImages {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }
  .left {
    left: 125%;
  }
  .right {
    opacity: 0.6;
    right: 130%;
  }
  .wholeLis {
    padding-bottom: 1em;
  }
}
.vertical-timeline-elemnt::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #05121b;
}

.sponsorsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 75em;
  margin: auto;
  justify-items: center;
  align-items: center;
  row-gap: 1.5em;
  margin-block: 5em;
}
@keyframes sponsorsAnim {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0em);
  }
}
.sponsorsGrid > :nth-child(2),
.sponsorsGrid > :nth-child(4) {
  animation-name: sponsorsAnim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes sponsorsAnim2 {
  0%,
  100% {
    transform: translateY(-0.2em);
  }
  30% {
    transform: translateY(0.5em);
  }
  50% {
    transform: translateY(0.4em);
  }
}
.sponsorsGrid > :nth-child(1),
.sponsorsGrid > :nth-child(3),
.sponsorsGrid > :nth-child(5),
.sponsorsGrid > :nth-child(6),
.sponsorsGrid > :nth-child(7),
.sponsorsGrid > :nth-child(8),
.sponsorsGrid > :nth-child(9) {
  animation-name: sponsorsAnim2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.sponsorsImage {
  max-height: 4em;
  /* width: 80%; */
}
@media (max-width: 900px) {
  .sponsorsImage {
    max-height: 4em;
    max-width: 4em;
    /* width: 80%; */
  }
}
@media (max-width: 500px) {
  .sponsorsGrid {
    display: flex;
    flex-direction: column;
  }
  .sponsorsImage {
    max-height: 4em;
    width: min(100%, 80vw);
    /* width: 80%; */
  }

  .sponsorsGrid > :nth-child(1),
  .sponsorsGrid > :nth-child(3),
  .sponsorsGrid > :nth-child(5),
  .sponsorsGrid > :nth-child(7) {
    margin-right: 50%;
  }
  .sponsorsGrid > :nth-child(2),
  .sponsorsGrid > :nth-child(4),
  .sponsorsGrid > :nth-child(6),
  .sponsorsGrid > :nth-child(8) {
    margin-left: 50%;
  }
}
.AdvisorWrapper {
  width: 100%;
  background-color: white;
  height: 50%;
}
.AdvisorContainer {
  display: none;
}
.AdvisorImages {
  filter: grayscale(100%);
  /* min-width: 220px; */
  max-width: 75%;
}
.AdvisorName {
  font-size: 0.7em;
  padding-block: 0.5em;
  font-weight: 400;
}
.AdvisorPosition {
  font-size: 0.7em;
  font-weight: 400;
  margin-bottom: 1.5em;
}
@media (min-width: 700px) {
  .swiper {
    display: none;
  }
  .AdvisorContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: min(100%, 80em);
    margin: auto;
    align-items: flex-end;
    height: 30em;
    margin-block: 10em;
  }
  .AdvisorBorder {
    position: relative;
    text-align: center;
    background: linear-gradient(
      rgb(196, 82, 96),
      rgba(196, 82, 96, 0),
      rgba(196, 82, 96, 0)
    );
    height: 90%;
    width: 100%;
    padding: 0.1em;
    border-radius: 10px;
  }
  .AdvisorContent {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    background-color: white;
  }
  .AdvisorAbsolute {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
  }
  .AdvisorAbsolute > * {
    margin-block: 1em;
  }
  .AdvisorImages {
    padding: 1em;
    max-width: auto;
    max-height: 100%;
  }
  .smallName {
    max-width: 80%;
    margin: auto;
    font-weight: 900;
    padding-bottom: 0.5em;
  }
  .smallPosition {
    max-width: 80%;
    margin: auto;
    font-weight: 200;
    margin-bottom: 1em;
  }

  .AdvisorBorder:hover {
    transform: scale(1.06);
    transition: transform 300ms ease-out;
  }
}

/* =============
=====Footer=====
==============*/

.relativeContainer {
  margin: auto;
  margin-block: 5em;
  position: relative;
  color: white;
  width: 85%;
  background-color: #05121b;
  height: 25em;
  border-radius: 30px;
}
@keyframes AnimateContainer {
  0% {
    transform: translateY(-0.2em);
  }
  30% {
    transform: translateY(0.5em);
  }
  50% {
    transform: translateY(0.4em);
  }
  100% {
    transform: translateY(-0.2em);
  }
}
.container {
  animation-name: AnimateContainer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: absolute;
  background-color: rgb(5, 18, 27);
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(110%, 40em);
  margin-inline: -5%;
  padding-block: 0.5em;
  justify-content: space-around;
}
.container > h1 {
  font-weight: 700;
  font-size: 2em;
}
.footerInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footerInputs > * {
  margin: auto;
  margin-block: 0.5em;
  width: 90%;
  background-color: transparent;
  padding: 1.5em;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.footerInputs > :nth-child(3) {
  padding-block: 2.5em;
}
.footerInputs:focus {
  border: 1px solid green;
}
::placeholder {
  color: white;
  font-size: 1.2em;
}
.container > button {
  width: 90%;
  padding: 0.5em;
  border: none;
  background-color: #c45260;
  border-radius: 7px;
  color: black;
  font-weight: 700;
  font-size: 1em;
}
.container > button:hover {
  background-color: #fefefe;
  transition: all 0.5s ease-in-out;

  cursor: pointer;
}
.footerIcons {
  width: min(100%, 30em);
  text-align: center;
}
.footerIcons > p {
  font-weight: 300;
  font-size: 1.1em;
}
.icons {
  display: flex;
  /* width: 70%; */
  width: 15em;
  justify-content: space-between;
  margin: auto;
  margin-top: 2em;
}
.icons > div > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.icon {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: black;
}
.newsLetter {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 90%;

  margin: auto;
  justify-content: space-between;
  /* align-items: center; */
  margin-block: 5em;
  height: 5em;
  text-align: center;
}
.inputAbutton {
  margin-top: 2em;
}
input:focus {
  outline: 1px solid #4b9bf0;
}
.inputAbutton > input {
  width: 90%;
  /* padding: 1.6em; */
  padding: 1.3em;
  margin: auto;
  background-color: #05121b;
  border: none;
  border-radius: 10px;
}
.textSide {
  display: none;
}
.inputAbutton > button {
  position: absolute;
  padding-inline: 0.2em;
  /* padding-block: 1.2em; */
  padding-block: 1em;
  border: none;
  border-radius: 10px;
  background-color: #c45260;
  color: white;
  right: 1px;
  font-weight: 700;
  font-size: 1em;
}
.inputAbutton > button:hover {
  background-color: #e2e8f0;
  transition: all 0.5s ease-in-out;

  cursor: pointer;
}
.copyRightTHing {
  text-align: center;
  margin-bottom: 5em;
}
@media (min-width: 480px) {
  .relativeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: min(80em, 100%);
    padding-block: 1em;
    /* overflow: hidden; */
    height: 30em;
  }
  .textSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    /* padding-left: 6rem; */
    margin: auto;
  }
  .textSide > h1 {
    line-height: 1.5em;
    font-size: 3em;
  }
  .textSide > p {
    /* word-break: break-all; */
    font-size: min(1.5em, 2vw);
  }
  .container {
    display: flex;
    position: relative;
    /* right: 0em; */
    /* top: -2em; */
    margin-inline: 0em;
    max-height: 100%;
    margin-bottom: 5em;
  }
  .container > h1 {
    font-size: 3em;
    font-weight: 400;
  }
  .container > button {
    width: 7em;
    padding: 0.5em;
    align-self: flex-start;
    margin-left: 2em;
  }
  .footerOffooter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
    align-items: flex-end;
  }
  .inputAbutton > input {
    margin: 0em;
    position: relative;
    width: min(40vw, 35em);
    padding: 1.3em;
    color: white;
  }
  .inputAbutton > button {
    padding: 0.9em;
  }
  .footerIcons {
    text-align: start;
    width: 15em;
    order: 0;
    margin: 0em;
  }
  .footerIcons > * {
    margin-block: 0.5em;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .newsLetter {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 0em;
    justify-content: space-around;
    order: 2;
    margin-block: 0.5em;
  }
  .newsLetter > * {
    margin-top: 0.5em;
  }

  .copyRightTHing {
    display: flex;
    order: 1;
    margin: 0em;
    text-align: start;
  }
}
